/********************************************
*  Sean Bryan
*  2019-04-13
*********************************************/

/* Element Styles */
body {
    background-image: url(../images/Hoth.jpeg);
    background-attachment: fixed;
    /* background-position: center;  */
    background-size: cover;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Class Styles */
.scroll-box {
    background-image: url(../images/stars2.jpg);
    height: 80px; 
    overflow-y: scroll;
    border-color:  #10fefe;
    border-style: solid;
    border-width: 5px 5px;
}

.character img {
    height: 160px;
    width: 100%;
}

.opponent img {
    height: 160px;
    width: 100%;
}

.light-side img {
    height: 160px;
    width: 100%;
}

.dark-side img {
    height: 160px;
    width: 100%;
}

/* ID Styles */
#title-image {
    border-color: #10fefe;
    border-style: solid;
    border-width: 4px 4px;
    border-radius: 25px;
}

#champion-attack {
    color:  #10fefe;
    font-size: 1.2em;
}

#opponent-attack {
    color:  #f80328;
    font-size: 1.2em;
}
